.buildpath
.directory
.idea
.project
.settings
.DS_Store
nbproject

/composer
**/composer.phar
**/composer.lock
/.gitmodules
**/install.php
/phpunit.xml
/vendor

/joomla-cms
/public/**
!/public/administrator
/public/administrator/**
!/public/administrator/.gitinclude

**/.ht*
**/configuration.*
**/local.*
**/*.details*
**/*.local.*
**/*.bz?
**/*.flag
**/*.gz
**/*.sql
**/*.tar
**/*.zip
**/*_aside

!**/*.dist
!**/*.model
!**/*.template
